*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    height: 100%;
    place-items: center;
    text-align: center;
    background: #131419;
}
.content{
    width: 330px;
    background: #131419;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 5);
    border-radius: 10px;
    padding: 40px 30px;
}
.content .text{
    font-size: 33px;
    font-weight: 600;
    color:#8c8c8c;
    margin-bottom: 35px;
}
form .field{
    height: 50px;
    width: 100%;
    display: flex;
}
.field input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background: #131419;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 5);
    border-radius: 25px;
}

